<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Directive-01 | Angular.cz - TODO ke cvičením</title>
  <meta name="author" content="www.angular.cz">
  
  <meta name="description" content="Vyzkoušejte si standardní direktivy Angularu pro ovlivňování view
1. Podle výběru typu nemovitosti zobrazte div s odpovídajícími parametry
kontrolujte">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Directive-01"/>
  <meta property="og:site_name" content="Angular.cz - TODO ke cvičením"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/todo/favicon.png" rel="icon">
  <link rel="alternate" href="/todo/atom.xml" title="Angular.cz - TODO ke cvičením" type="application/atom+xml">
  <link rel="stylesheet" href="/todo/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  

</head>


<body>
  <header id="header" class="inner"><div class="alignleft">
  <h1><a href="/todo/">Angular.cz - TODO ke cvičením</a></h1>
  <h2><a href="/todo/"></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><article class="page">
  
  <div class="post-content">
    <header>
      
      
  
    <h1 class="title">Directive-01</h1>
  

    </header>
    <div class="entry">
      
        <p>Vyzkoušejte si standardní direktivy Angularu pro ovlivňování view</p>
<h3 id="1-_Podle_výběru_typu_nemovitosti_zobrazte_div_s_odpovídajícími_parametry">1. Podle výběru typu nemovitosti zobrazte div s odpovídajícími parametry</h3><ul>
<li>kontrolujte reality.type - ground/house</li>
<li>u pozemku zobrazte jen parametry pozemku</li>
<li>u domku zobrazte jak parametry pozemku, tak parametry domu</li>
<li>komerční pozemek nemá žádný typ</li>
<li>jednou použijte ng-if a podruhé ng-show</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode3_button" onclick="$('#todoCode3').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 1 - použijte ng-if nebo ng-show</span></p><div id="todoCode3" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-show</span>=<span class="value">"reality.type === 'house'"</span>&gt;</span></span><br><span class="line">  ...</span><br></pre></td></tr></table></figure>

<figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-if</span>=<span class="value">"reality.type === 'ground' || reality.type === 'house'"</span>&gt;</span></span><br><span class="line">  ...</span><br></pre></td></tr></table></figure></div>
<ul>
<li>podívejte se na rozdíl mezi ng-if a ng-show v devtools</li>
</ul>
<h3 id="2-_Oživení_seznamu_lokalit">2. Oživení seznamu lokalit</h3><ul>
<li>použijte ng-repeat na divu, který chcete opakovat</li>
<li>vykreslete jej z pole reality.localities</li>
<li>jako value použijte hodnotu location.key</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode22_button" onclick="$('#todoCode22').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2 - oživení seznamu lokalit</span></p><div id="todoCode22" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br><span class="line">6</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-repeat</span>=<span class="value">"locality in reality.localities"</span> <span class="attribute">class</span>=<span class="value">"radio col-md-6"</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">label</span>&gt;</span></span><br><span class="line">    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"radio"</span> <span class="attribute">ng-model</span>=<span class="value">"reality.properties.location"</span> <span class="attribute">value</span>=<span class="value">"&#123;&#123;$index&#125;&#125;"</span> /&gt;</span></span><br><span class="line">    &#123;&#123;locality&#125;&#125;</span><br><span class="line">  <span class="tag">&lt;/<span class="title">label</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="3-_Vložte_copyright-html_pomocí_ng-include_nakonec_stránky">3. Vložte copyright.html pomocí ng-include nakonec stránky</h3><ul>
<li>použijte ng-include jako atribut</li>
<li>pozor na  apostrofy v expression - '...'</li>
</ul>
  <p><span style="float:right"><a href="#" id="todoCode39_button" onclick="$('#todoCode39').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 3 - vložení copyrightu</span></p><div id="todoCode39" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"small text-center"</span> <span class="attribute">ng-include</span>=<span class="value">"'copyright.html'"</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="4-_Vytvoření_záložek_v_sekci_informace">4. Vytvoření záložek v sekci informace</h3><ul>
<li>podívejte se na metody controlleru InfoCtrl v app.js</li>
<li>doplňte  tlačítka o událost na kliknutí ng-click,</li>
<li>využijte volání již definované funkce info.setActiveTab(<nazev>)</nazev></li>
<li>jako název použijte <strong>about</strong>, <strong>reference</strong>, <strong>contacts</strong></li>
</ul>
   <p><span style="float:right"><a href="#" id="todoCode55_button" onclick="$('#todoCode55').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 4.1 - akce pro výběr tabu</span></p><div id="todoCode55" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">ng-click</span>=<span class="value">"info.setActiveTab('about')"</span> <span class="attribute">...</span> &gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">ng-click</span>=<span class="value">"info.setActiveTab('reference')"</span> <span class="attribute">...</span> &gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">ng-click</span>=<span class="value">"info.setActiveTab('contacts')"</span> <span class="attribute">...</span> &gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>použijte ng-switch na div nadřazený budoucím záložkám, využijte funkci info.getActiveTab()</li>
<li>ng-switch-when pro jednotlivé divy záložek by měl odpovídat názvům použitým výše.</li>
</ul>
  <p><span style="float:right"><a href="#" id="todoCode71_button" onclick="$('#todoCode71').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 4.2 - zobrazení tabu</span></p><div id="todoCode71" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br><span class="line">6</span><br><span class="line">7</span><br><span class="line">8</span><br><span class="line">9</span><br><span class="line">10</span><br><span class="line">11</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-switch</span>=<span class="value">"info.getActiveTab()"</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-switch-when</span>=<span class="value">"about"</span>&gt;</span></span><br><span class="line">    ...</span><br><span class="line">  <span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-switch-when</span>=<span class="value">"reference"</span>&gt;</span></span><br><span class="line">    ...</span><br><span class="line">  <span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-switch-when</span>=<span class="value">"contacts"</span>&gt;</span></span><br><span class="line">    ...</span><br><span class="line">  <span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="5-_Zvýraznění_aktuálně_vybraného_tlačítka">5. Zvýraznění aktuálně vybraného tlačítka</h3><ul>
<li>použijte ng-class ve formátu {},</li>
<li>jako třídu na levé straně použijte ‘active’</li>
<li>jako podmínku pak funkci info.isTabActive(<nazev>)</nazev></li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode84_button" onclick="$('#todoCode84').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 5 - zvýraznění tlačítka</span></p><div id="todoCode84" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">ng-class</span>=<span class="value">"&#123;active : info.isTabActive('about')&#125;"</span> <span class="attribute">...</span> &gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">ng-class</span>=<span class="value">"&#123;active : info.isTabActive('reference')&#125;"</span> <span class="attribute">...</span> &gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">ng-class</span>=<span class="value">"&#123;active : info.isTabActive('contacts')&#125;"</span> <span class="attribute">...</span> &gt;</span></span><br></pre></td></tr></table></figure></div>
<h2 id="EXTRA">EXTRA</h2><h3 id="6-_Přidání_šablony_do_template_cache">6. Přidání šablony do template cache</h3><ul>
<li>pokud vnímáte bliknutí copyrightu přidaného pomocí ng-include<ul>
<li>je to tím, že se provádí ajax požadavek pro stažení šablony</li>
</ul>
</li>
<li>podívejte se v consoli, že je copyright.html načítán asynchronně</li>
<li>použijte $templateCache v sekci .run</li>
<li>přidejte šablonu s klíčem copyright.html a obsahem souboru</li>
<li>původní soubor můžete smazat</li>
</ul>

      
    </div>
    <!--<footer>-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!---->
      <!--<div class="clearfix"></div>-->
    <!--</footer>-->
  </div>
</article>

<!--
<section id="comment">
  <h1 class="title">留言</h1>

  
      <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789012345";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://yoursite.com/todo/directive-01/index.html" data-num-posts="5" data-width="840" data-colorscheme="light"></div>
      
  
</section>
-->
</div></div>
    <aside id="sidebar" class="alignright">
  <ul>
  
</ul>


<div class="widget tag">
  <h3 class="title">Cvičení</h3>
  <ul class="entry">
    
    <li><a href="/todo/templates-01/">templates-01</a></li>
    
    <li><a href="/todo/templates-02/">templates-02</a></li>
    
    <li><a href="/todo/controller-01/">controller-01</a></li>
    
    <li><a href="/todo/controller-02/">controller-02</a></li>
    
    <li><a href="/todo/scope-01/">scope-01</a></li>
    
    <li><a href="/todo/controller-03/">controller-03</a></li>
    
    <li><a href="/todo/di-01/">di-01</a></li>
    
    <li><a href="/todo/di-01-unitTesting/">di-01-unitTesting</a></li>
    
    <li><a href="/todo/di-02/">di-02</a></li>
    
    <li><a href="/todo/directive-01/">directive-01</a></li>
    
    <li><a href="/todo/directive-02/">directive-02</a></li>
    
    <li><a href="/todo/directive-03/">directive-03</a></li>
    
    <li><a href="/todo/filter-01/">filter-01</a></li>
    
    <li><a href="/todo/filter-02/">filter-02</a></li>
    
    <li><a href="/todo/form-01/">form-01</a></li>
    
    <li><a href="/todo/router-01/">router-01</a></li>
    
    <li><a href="/todo/resource-01/">resource-01</a></li>
    
    <li><a href="/todo/animate-01/">animate-01</a></li>
    
    <li><a href="/todo/auth-01/">auth-01</a></li>
    
    <li><a href="/todo/auth-02/">auth-02</a></li>
    
  </ul>
</div>


</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div class="alignleft">
  
  &copy; 2015 www.angular.cz
  
</div>
<div class="clearfix"></div></footer>
  <script src="/todo/js/jquery.min.js"></script>
<script src="/todo/js/jquery.imagesloaded.min.js"></script>
<script src="/todo/js/gallery.js"></script>




<link rel="stylesheet" href="/todo/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/todo/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>